
.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 30px 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #87d7bf;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  
}
  

  .form-control {
    margin-bottom: 15px;
  }

 